@model Fight4Fit_FrontEnd.Models.EventoModelo
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EventoModelo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="editor-label">
            @Html.Label("tipo", "¿De que tipo de evento se trata?")
        </div>
        <div class="editor-field">
            Evento   @Html.RadioButton("tipo", 1)
            Torneo @Html.RadioButton("tipo", 2)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.Label("Categoria", "¿De que categoria es el evento?")
        </div>
        <div class="display-input">
            @Html.DropDownListFor(model => model.Categoria, new SelectList(@ViewBag.Categorias))
        </div>
        <div>
            @Html.ActionLink("Crear nueva categoria...", "../Categoria/Create")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Localizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Localizacion)
            @Html.ValidationMessageFor(model => model.Localizacion)
        </div>
        <div class="editor-label">
            @Html.Label("Fecha", "¿Cuando se realizara el evento?")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>
        <div class="editor-label">
            @Html.Label("Latitud", "Introduzca estos datos si los conoce")
        </div>
        <div class="editor-field">
            <span>Latitud: </span>@Html.EditorFor(model => model.Latitud)
        </div>
        <div class="editor-field">
            <span>Longitud: </span> @Html.EditorFor(model => model.Longitud)
        </div>
        <div class="editor-label">
            @Html.Label("numPartMax", "¿Numero maximo de particpantes del evento?")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numPartMax)
            @Html.ValidationMessageFor(model => model.numPartMax)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
