@model Fight4Fit_FrontEnd.Models.SoporteModelo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>SoporteEN</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.texto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.texto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.respuesta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.respuesta)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario)
    </div>
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
