@model IEnumerable<Fight4FitGenNHibernate.EN.Fight4Fit.SoporteEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSoporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSoporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respuesta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdSoporte}) |
            @Html.ActionLink("Details", "Details", new { id = item.IdSoporte }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdSoporte })
        </td>
    </tr>
}

</table>
