@model Fight4Fit_FrontEnd.Models.FotoModelo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FotoModelo</legend>
</fieldset>


<h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>
</h3>

<div class="display-field">
    <img height="500" width="500" src="@Html.DisplayFor(model=>model.ruta)" />

</div>



<div class="display-field">

    @Html.DisplayFor(model => model.descripcion)
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
