@model Fight4Fit_FrontEnd.Models.FotoModelo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FotoModelo</legend>
</fieldset>


<h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>
</h3>

<div class="display-field">
    <img height="500" width="500" src="@Html.DisplayFor(model=>model.ruta)" />

</div>



<div class="display-field">

    @Html.DisplayFor(model => model.descripcion)
</div>
<h2>Comentarios: </h2>
@foreach (var item in (List<Fight4FitGenNHibernate.EN.Fight4Fit.ComentarioEN>)@ViewData["lista"])
{
    <h3>@item.Titulo</h3>
    <p>@item.Texto</p>
}

<p>
    @Html.ActionLink("Me gusta", "Darlike", new { id = Model.id }) |
    @Html.ActionLink("Reportar foto", "../Reporte/Create", new { id = Model.id, var = 1 }) |
    @Html.ActionLink("Añadir comentario", "../Comentario/Create", new { id = Model.id, var = 2 }) |
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
